<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <img class="image2" src="/templates/drone_overlay.png" />
  
  <script src="script.js"></script>
</body>

<style>
html {
  width: 100%;
  background-color: black;
  background-image: url("{{ url_for('video_feed') }}");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.image2 {
  position: absolute;
  width: 100%;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 75%;
  filter: blur(1px);
}

button {
  cursor: pointer;
  position: absolute;
  left: 43%;
  border: 0px;
  border-radius: 0px;
}

.b2 {
  margin-left: 120px;
}
</style>

</html>
